// Base styles
.nav__icon {
  display: none;
}

.nav__text {
  display: inline;
}

.header__logo {
  display: inline;
}

.header__icon-mini {
  display: none;
}

.header__input-mini {
  display: none;
}

@media (min-width: 835px) {
  .filtering-form {
    position: absolute;
    top: calc(100% + 55px);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 42px;
    background-color: $color-text;
    box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
    padding: 40px 48px;
    right: 260px;

    &__content-wrapper {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 32px 65px;
      max-height: 548px;
      min-width: 548px;
    }
  }
}

@media (max-width: 1024px) {
  // General layout
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }

  .footer__info {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: wrap;
  }
  .footer__contents {
    display: flex;
  }
  .footer__inter,
  .footer__logo {
    display: none;
  }

  .for__item {
    height: 268px;
  }
  .product-content {
    gap: 29px;
  }
  .product-content__catalog,
  .product--catalog {
    -moz-column-gap: 29px;
    column-gap: 29px;
    row-gap: 30px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }

  .basket {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 64px;
  }

  .filter-form {
    position: absolute;
    top: calc(100% + 14px);
    right: 15px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 36px;
    background-color: #fff;
    box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
    padding: 40px 48px;

    &__content-wrapper {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 32px 65px;
      max-height: 548px;
      min-width: 548px;
    }
  }

  .filtering-form-container {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 2;
    width: 692px;
  }
  .article {
    width: 366px;
    display: flex;
    flex-direction: column;
  }

  .footer-form {
    display: flex;
    flex-direction: column;
    padding-left: 32px;
    gap: 8px;
    box-sizing: border-box;
    padding-top: 17px;
    padding-bottom: 40px;
    align-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

@media (max-width: 767px) {
  .article__title {
    font-size: 18px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 9px;
    margin-top: 10px;
    font-weight: 500;
  }
  .article__paragraph {
    font-size: 18px;
    line-height: 29px;
    color: #050505;
    font-weight: 500;
  }
  .article__paragraph-b {
    font-size: 18px;
    line-height: 29px;
    text-decoration-line: line-through;
    color: #888888;
  }

  .filtering-form {
    position: absolute;
    top: calc(100% + 55px);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 42px;
    background-color: $color-text;
    box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
    padding: 40px 48px;
    right: 385px;

    &__content-wrapper {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 32px 65px;
    }
  }
  .filtering-form__button {
    align-self: center;
    max-width: 190px;
    width: 100%;
    color: #000000;
  }

  .basket-top {
    height: 400px;
    background: url(img/b.topback.jpeg) center / cover no-repeat;

    &__title {
      color: #fff;
      font-size: 48px;
      line-height: 59px;
      font-weight: 600;
      text-align: center;
      margin: 127px 0 16px;
    }
  }
  .basket__picture {
    display: none;
  }
  .header__logo {
    display: none;
  }
  .header__icon-mini {
    display: inline;
    margin-top: 8px;
  }
  .header__input-mini {
    display: inline;
    margin-top: 8px;
  }

  .for {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  .for__item {
    grid-column: 1 / -1;
    height: 375px;
    font-size: 28px;
    line-height: 34px;
  }
  .for__item_big {
    height: 244px;
  }

  .footer {
    margin-top: 0;
  }
  .footer__content {
    justify-content: center;
    gap: 71px;
  }

  .nav__icon {
    display: inline;
  }
  .nav__text {
    display: none;
  }
  .nav__link {
    display: flex;
    align-items: center;
  }
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    border-bottom: none;
    padding-top: 32px;
  }
  .header__input {
    display: none;
  }
  .menu {
    display: none;
  }
  .menu-mob {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .logo__img {
    width: 99px;
  }
  .title {
    text-align: center;
    font-size: 48px;
    line-height: 59px;
  }
  .top__text {
    text-align: center;
    font-size: 16px;
  }
  .top__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top__catalog {
    font-size: 14px;
  }
  .product-box__title, .product__title, .product__new-price, .product__old-price, .product__price, .for-box__title {
    font-size: 24px;
    line-height: 32px;
    width: 218px;
  }
  .footer__item {
    width: 177px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .footer-nav {
    width: 136px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0 63px 0 14px;
  }
  .basket-form__button,
  .nav-basket__button {
    width: 290px;
    height: 41px;
    border: 1px solid #000;
    border-radius: 20px;
    background: #f7f6f6;
    transition: background 0.3s, border 0.3s, color 0.3s;
  }
  .basket-form {
    display: flex;
    border-radius: 20px;
    background: #f7f6f6;
    width: 324px;
    height: 556px;
    grid-column: span 4;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
  .nav-basket__link {
    text-decoration-line: none;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
    font-family: inherit;
    transition: background 0.3s ease, color 0.2s ease;
  }
  .nav-basket__button {
    width: 158px;
    height: 41px;
    border: 1px solid #000;
    border-radius: 20px;
    background: #f7f6f6;
    transition: background 0.3s, border 0.3s, color 0.3s;
  }
  .basket-form__button {
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    width: 290px;
    height: 41px;
    background: rgb(247, 246, 246);
    font-family: inherit;
    transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
  }
  .basket-form__input-box {
    display: flex;
    flex-direction: column;
    gap: 41.5px;
    padding-left: 13px;
  }
  .footer__item {
    width: 177px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    box-sizing: border-box;
    padding-left: 44px;
  }
  .for-content {
    display: flex;
    gap: 32px;
    grid-template-columns: repeat(12, 1fr);
    flex-direction: column;
    flex-wrap: wrap;
  }
  .nav-filter {
    display: flex;
    column-gap: 10px;
    margin-top: 0px;
    margin-bottom: 36px;
    position: relative;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  .nav-filter__popular {
    font-family: Montserrat;
    width: 227px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: rgb(0, 0, 0);
    flex: none;
    order: 1;
    flex-grow: 0;
    padding-left: 23px;
    margin-bottom: 10px;
  }
  .pages-catalog {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    text-decoration: none;
    gap: 10px;
    margin-top: 32px;
    margin-bottom: 14px;
  }
  .basket__content {
    grid-column: span 4;
  }
}
