@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }

  .for__item {
    height: 287px;
  }

  .product-content {
    column-gap: 29px;
    row-gap: 39px;
  }

  .footer__logo {
    display: none;
  }

  .catalog__product-box {
    column-gap: 29px;
    row-gap: 37px;
  }

  .filtering-form {
    position: absolute;
    top: calc(100% + 14px);
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 36px;
    background-color: $color-text;
    box-shadow: 0 4px 67px -12px rgba(0, 0, 0, 0.32);
    padding: 40px 48px;
  }
}

@media (min-width: 768px) and (max-width: 833px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .article {
    width: 345px;
  }

  .for__item {
    height: 415px;
    grid-column: span 4;
    color: rgb(255, 255, 255);
    font-size: 34px;
    font-weight: 600;
    line-height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}